$ORIGIN example.com.
$TTL 5m

@  IN  SOA  ns1.example.com  root.example.com. (
       2001062501  ; serial
       21600       ; refresh after 6 hours
       3600        ; retry after 1 hour
       604800      ; expire after 1 week
       86400 )     ; minimum TTL of 1 day

; Server Name Information
@	IN 	NS	ns1.example.com.
	IN	A	192.168.1.6 

; Record hostname to IP addr

proxmox       IN A 192.168.1.5 
ns1           IN A 192.168.1.6
ansible       IN A 192.168.1.100
satellite     IN A 192.168.1.101
servera       IN A 192.168.1.102
serverb       IN A 192.168.1.103
serverc       IN A 192.168.1.104
serverd       IN A 192.168.1.105
servere       IN A 192.168.1.106
serverf       IN A 192.168.1.107



